<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro e Atualização - Recursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro e Atualização - Recursos</h1>
    </div>

    {% if db %}
    <div class="col-8 m-auto text-center">
      <p>Editando <strong>[ id = {{db.id}}, nome = {{db.nome}}, qtd = {{db.qtd}}, data = {{db.data|date:"d/m/Y"}} ]</strong>.</p>
    </div>
    {%endif%}

    <div class="col-8 m-auto pt-3 pb-2 text-center" > 
        <a href="/recursos" class="btn btn-success">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
      <div id="result"></div>
      
      <form name="form" id="form" action="{% if db %}/recursos/update/{{db.id}}/{% else %}/recursos/create/{% endif %}" method="post">
        {% csrf_token %}
        <div class="form-group mt-2">Nome: {{form.nome}}</div>
        <div class="form-group mt-2">Qtd:  {{form.qtd}}</div>
        <div class="form-group mt-2">Data: {{form.data}}</div><br><br>
        <input type="submit" class="btn btn-success" value="Salvar" style="margin-top: 4;">
      </form>
    </div>

    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>

</body>

</html>